*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    margin: auto;
    border: 10px solid black;
}

h1{
    background-color: #010138;
    line-height: 5rem;
    color: #fff;
    margin-bottom: 1%;

}

p{
    
   padding: 0.2rem;
   display: inline;
   font-weight: 600;
}

.score{
    margin-top: 1rem;
}

.btn-container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 35%;
   
   
}

.btn1{
    background-color: #d95980;
}
.btn2{
 background-color: #63aac0;
}
.btn3{
    background-color:#f99b45;
}
.btn4{
    background-color: #849ff9;
}

.flash{
    background-color: white;
}

.userflash
{
  background-color: green;
}

.out{
    background-color: red;
}

.btn-Goback{
    position: absolute;
    right: 0 ;
    top: 2%;
    background-color: aqua;
    font-weight: 900;
    font-size: 1rem;
    padding: 1rem;
}



